# Build directories
build/
debug/
release/

# Qt / Qt Creator
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.creator.user
*.creator.user.*
*.moc
*.o
*.obj
moc_*.cpp
qrc_*.cpp
ui_*.h
qmlcache*
*.autosave

# Visual Studio
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates

# Executables
*.exe
*.dll
*.app
*.so

# Other
.DS_Store
Thumbs.db
